header {
    width: 100%;
    position: absolute;
    z-index: 2;
    position: fixed;
}

nav {
    background-color: rgba(0,0,0,0.2);
    backdrop-filter: blur(10px);
}

.menu {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
    align-items: center;

}

.logo {
    width: 20px;
}

.item a{
    padding: 10px;
    text-decoration: none;
    color: white;
    border: 1px solid white;
    border-radius: 5px;
}

